<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2HM Stores</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
</head>

<body class="body">
    <div class="no">
    </div>
    <div class="ship">
        <div class="wrap">
            <div>
                <div class="x">
                    <p style="font-size: 20px;"><i class="fa-solid fa-x"></i></p>
                </div>
            </div>
            <div class="aboutship">
                <div>
                    <h1>GIAO HÀNG MIỄN PHÍ CHO THÀNH VIÊN CỦA 2HM</h1>
                    <br>
                    <p>Đăng ký thành viên 2HMclub để hưởng thụ dịch vụ giao hàng miễn phí! Hoặc bạn chỉ được nhận ưu đãi
                        miễn phí giao hàng với hóa đơn có trị giá ít nhất 1.6 triệu đồng</p>
                    <br>
                    <a href="">THAM GIA NGAY</a>
                </div>
                <div>
                    <h1>TRẢ HÀNG DỄ DÀNG</h1>
                    <br>
                    <p>Nếu bạn không hài lòng với đơn hàng của mình, bạn có thể được hoàn lại tiền. Vui lòng xem Chính
                        Sách Trả Hàng của chúng tôi để biết thêm chi tiết.</p>
                    <br>
                    <a href="">TRẢ HÀNG DỄ DÀNG</a>
                </div>
            </div>
        </div>
    </div>
    <header class="title">
        <div class="text_animation">
            <p style="cursor: pointer;">GIAO HÀNG MIỄN PHÍ CHO CÁC THÀNH VIÊN CỦA 2HMCLUB&nbsp&nbsp<i
                    class="fa-solid fa-chevron-down"></i></p>
        </div>
        <div class="navbar">
            <a href="/home">
                <div class="logo">
                    <div class="_logo">
                        <img src="../static/img/2H&M.gif"
                            alt="">
                    </div>
                </div>
            </a>
            <div class="main">
                <ul class="subnav">
                    <li>
                        <a href="/male_page"><b>NAM</b></a>
                        <div class="sub_content">
                            <div class="content_link">
                                <div class="content_1">
                                    <a href="" class="a_hover"><b>NỔI BẬT</b></a>
                                    <a href="" class="a_hover">Hàng mới về</a>
                                    <a href="" class="a_hover">Member excluslves</a>
                                    <a href="" class="a_hover">Những mặt hàng bán chạy nhất tuần</a><br>
                                    <a href="" class="a_hover">Adizero</a>
                                    <a href="" class="a_hover">Samba</a>
                                    <a href="" class="a_hover">Gazelle</a>
                                    <a href="" class="a_hover">Ultraboost</a>
                                    <a href="" class="a_hover">Stan Smith</a>
                                    <a href="" class="a_hover">Superstar</a>
                                    <a href="" class="a_hover">Adilette</a>
                                </div>
                                <div class="content_2">
                                    <a href="/shoemale_page" class="a_hover"><b>GIÀY</b></a>
                                    <a href="" class="a_hover">Dòng sản phẩm Originals</a>
                                    <a href="" class="a_hover">Bóng đá</a>
                                    <a href="" class="a_hover">Chạy</a>
                                    <a href="" class="a_hover">Tập luyện</a>
                                    <a href="" class="a_hover">NGoài trời</a>
                                    <a href="" class="a_hover">Bóng rổ</a>
                                    <a href="" class="a_hover">Dep</a>
                                    <a href="" class="a_hover">Quần vợt</a>
                                    <a href="" class="a_hover">Sportswear</a>
                                </div>
                                <div class="content_2">
                                    <a href="/fashion_male" class="a_hover"><b>QUẦN ÁO</b></a>
                                    <a href="" class="a_hover">Áo phông & Áo polo</a>
                                    <a href="" class="a_hover">Áo Jersay</a>
                                    <a href="" class="a_hover">Áo hodie & Áo khoác</a>
                                    <a href="" class="a_hover">Áo nỉ và Bộ đồ thể thao</a>
                                    <a href="" class="a_hover">Quần</a>
                                    <a href="" class="a_hover">Quần bò</a>
                                    <a href="" class="a_hover">Quần sóoc</a>
                                    <a href="" class="a_hover">Áo thun Compression layers</a>
                                    <a href="" class="a_hover">Sportswear</a>
                                </div>
                                <div class="content_2">
                                    <a href="" class="a_hover"><b>PHỤ KIỆN</b></a>
                                    <a href="" class="a_hover">Tất Cả Túi</a>
                                    <a href="" class="a_hover">Ba lô</a>
                                    <a href="" class="a_hover">Túi Tập Luyện</a>
                                    <a href="" class="a_hover">Tất</a>
                                    <a href="" class="a_hover">Mũ Lưỡi Trai & Đội Đầu</a>
                                    <a href="" class="a_hover">Găng Tay</a>
                                    <a href="" class="a_hover">Bóng</a>
                                    <a href="" class="a_hover">Nẹp ỐNg Chân & Băng Buộc</a>
                                </div>
                                <div class="content_2">
                                    <a href="" class="a_hover"><b>GIẢM GIÁ</b></a>
                                    <a href="" class="a_hover">Giày</a>
                                    <a href="" class="a_hover">Quần áo</a>
                                    <a href="" class="a_hover">Phụ kiện</a>
                                </div>
                                <div class="content_3">
                                    <a href="" class="a_hover"><b>THỂ THAO</b></a>
                                    <a href="" class="a_hover">Bóng đá</a>
                                    <a href="" class="a_hover">Chạy</a>
                                    <a href="" class="a_hover">Tập luyện</a>
                                    <a href="" class="a_hover">Basketball</a>
                                    <a href="" class="a_hover">Bơi lội</a>
                                    <a href="" class="a_hover">Đánh gôn</a>
                                    <a href="" class="a_hover">Quần vợt</a>
                                    <a href="" class="a_hover">Basketball</a>
                                </div>
                                <div class="content_4">
                                    <a href="" class="a_hover">Tất cả sản phẩm dành cho nam</a>
                                </div>
                                <div class="content_5">
                                    <a href="" class="a_hover">Tất cả giày nam</a>
                                </div>
                                <div class="content_5">
                                    <a href="" class="a_hover">Tất cả quần áo nam</a>
                                </div>
                                <div class="content_5">
                                    <a href="" class="a_hover">Tất cả phụ kiện dành cho nam</a>
                                </div>
                                <div class="content_5">
                                    <a href="" class="a_hover">Tất cả Nam</a>
                                </div>
                                <div class="content_6">
                                    <a href="" class="a_hover">Our Men's Better Choices Rage</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="/female_page"><b>NỮ</b></a>
                        <div class="sub_content">
                            <div class="content_link">
                                <div class="content_1">
                                    <a href="" class="a_hover"><b>NỔI BẬT</b></a>
                                    <a href="" class="a_hover">Hàng mới về</a>
                                    <a href="" class="a_hover">Member excluslves</a>
                                    <a href="" class="a_hover">Những mặt hàng bán chạy nhất tuần</a><br>
                                    <a href="" class="a_hover">Adizero</a>
                                    <a href="" class="a_hover">Samba</a>
                                    <a href="" class="a_hover">Gazelle</a>
                                    <a href="" class="a_hover">Ultraboost</a>
                                    <a href="" class="a_hover">Stan Smith</a>
                                    <a href="" class="a_hover">Superstar</a>
                                    <a href="" class="a_hover">FORUM</a>
                                    <a href="" class="a_hover">STELLA MACCARTNEY</a>
                                </div>
                                <div class="content_2">
                                    <a href="/shoefemale_page" class="a_hover"><b>GIÀY</b></a>
                                    <a href="" class="a_hover">Dòng sản phẩm Originals</a>
                                    <a href="" class="a_hover">Running</a>
                                    <a href="" class="a_hover">Tập luyện</a>
                                    <a href="" class="a_hover">Dep</a>
                                    <a href="" class="a_hover">Quần vợt</a>
                                    <a href="" class="a_hover">Sportswear</a>
                                </div>
                                <div class="content_2">
                                    <a href="//fashion_female" class="a_hover"><b>QUẦN ÁO</b></a>
                                    <a href="" class="a_hover">Áo phông & Áo không tay</a>
                                    <a href="" class="a_hover">Áo Nỉ</a>
                                    <a href="" class="a_hover">Áo hodie & Áo khoác</a>
                                    <a href="" class="a_hover">Áo nỉ và Bộ đồ thể thao</a>
                                    <a href="" class="a_hover">Quần</a>
                                    <a href="" class="a_hover">Leggings</a>
                                    <a href="" class="a_hover">Quần sóoc</a>
                                    <a href="" class="a_hover">Váy liền</a>
                                    <a href="" class="a_hover">Sportswear</a>
                                </div>
                                <div class="content_2">
                                    <a href="" class="a_hover"><b>PHỤ KIỆN</b></a>
                                    <a href="" class="a_hover">Tất Cả Túi</a>
                                    <a href="" class="a_hover">Ba lô</a>
                                    <a href="" class="a_hover">Túi Tập Luyện</a>
                                    <a href="" class="a_hover">Tất</a>
                                    <a href="" class="a_hover">Mũ Lưỡi Trai & Đội Đầu</a>
                                    <a href="" class="a_hover">Găng Tay</a>
                                </div>
                                <div class="content_2">
                                    <a href="" class="a_hover"><b>GIẢM GIÁ</b></a>
                                    <a href="" class="a_hover">Giày</a>
                                    <a href="" class="a_hover">Quần áo</a>
                                    <a href="" class="a_hover">Phụ kiện</a>
                                </div>
                                <div class="content_3">
                                    <a href="" class="a_hover"><b>THỂ THAO</b></a>
                                    <a href="" class="a_hover">Chạy</a>
                                    <a href="" class="a_hover">Tập luyện</a>
                                    <a href="" class="a_hover">Tập Yoga</a>
                                    <a href="" class="a_hover">Đánh gôn</a>
                                    <a href="" class="a_hover">Quần vợt</a>
                                    <a href="" class="a_hover">Basketball</a>
                                </div>
                                <div class="content_4">
                                    <a href="" class="a_hover">Tất cả sản phẩm dành cho nữ</a>
                                </div>
                                <div class="content_5">
                                    <a href="" class="a_hover">Tất cả giày nữ</a>
                                </div>
                                <div class="content_5">
                                    <a href="" class="a_hover">Tất cả quần áo nữ</a>
                                </div>
                                <div class="content_5">
                                    <a href="" class="a_hover">Tất cả phụ kiện dành cho nữ</a>
                                </div>
                                <div class="content_5">
                                    <a href="" class="a_hover"> Tất cả Nữ</a>
                                </div>
                                <div class="content_6">
                                    <a href="" class="a_hover">Tất cả đồ dành cho nữ </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="/kid_page"><b>TRẺ EM</b></a>
                        <div class="sub_content">
                            <div class="content_link">
                                <div class="content_1">
                                    <a href="" class="a_hover"><b>NỔI BẬT</b></a>
                                    <a href="" class="a_hover">Hàng mới về</a>
                                    <a href="" class="a_hover">Mặt hàng bán chạy trong tuần</a><br>
                                    <a href="" class="a_hover">Hiệu năng</a>
                                    <a href="" class="a_hover">Bộ sưu tập Hellokitty</a>
                                    <a href="" class="a_hover">Originals</a>
                                    <a href="" class="a_hover">Lego</a>
                                    <a href="" class="a_hover">adicolor</a>
                                    <a href="" class="a_hover">Sportswear</a>
                                    <a href="" class="a_hover">Superstar</a><br>
                                    <a href="" class="a_hover">MEMBERS WEAK</a>
                                </div>
                                <div class="content_2">
                                    <a href="/shoekid_page" class="a_hover"><b>THANH THIẾU NIÊN(8 - 16)</b></a>
                                    <a href="" class="a_hover">Dòng sản phẩm Originals</a>
                                    <a href="" class="a_hover">Running</a>
                                    <a href="" class="a_hover">Tập luyện</a>
                                    <a href="" class="a_hover">Dep</a>
                                    <a href="" class="a_hover">Quần vợt</a>
                                    <a href="" class="a_hover">Sportswear</a>
                                </div>
                                <div class="content_2">
                                    <a href="/fashion_kid" class="a_hover"><b>TRẺ EM(4 - 8)</b></a>
                                    <a href="" class="a_hover">Áo phông & Áo không tay</a>
                                    <a href="" class="a_hover">Áo Nỉ</a>
                                    <a href="" class="a_hover">Áo hodie & Áo khoác</a>
                                    <a href="" class="a_hover">Áo nỉ và Bộ đồ thể thao</a>
                                    <a href="" class="a_hover">Quần</a>
                                    <a href="" class="a_hover">Leggings</a>
                                    <a href="" class="a_hover">Quần sóoc</a>
                                    <a href="" class="a_hover">Váy liền</a>
                                    <a href="" class="a_hover">Sportswear</a>
                                </div>
                                <div class="content_2">
                                    <a href="" class="a_hover"><b>TRẺ NHỎ VÀ TRẺ MỚI BIẾT ĐI (1 - 4)</b></a>
                                    <a href="" class="a_hover">Tất Cả Túi</a>
                                    <a href="" class="a_hover">Ba lô</a>
                                    <a href="" class="a_hover">Túi Tập Luyện</a>
                                    <a href="" class="a_hover">Tất</a>
                                    <a href="" class="a_hover">Mũ Lưỡi Trai & Đội Đầu</a>
                                    <a href="" class="a_hover">Găng Tay</a>
                                </div>
                                <div class="content_2">
                                    <a href="" class="a_hover"><b>GIẢM GIÁ</b></a>
                                    <a href="" class="a_hover">Giày</a>
                                    <a href="" class="a_hover">Quần áo</a>
                                    <a href="" class="a_hover">Phụ kiện</a>
                                </div>
                                <div class="content_3">
                                    <a href="" class="a_hover"><b>THỂ THAO</b></a>
                                    <a href="" class="a_hover">Chạy</a>
                                    <a href="" class="a_hover">Tập luyện</a>
                                    <a href="" class="a_hover">Tập Yoga</a>
                                    <a href="" class="a_hover">Đánh gôn</a>
                                    <a href="" class="a_hover">Quần vợt</a>
                                    <a href="" class="a_hover">Basketball</a>
                                </div>
                                <div class="content_4">
                                    <a href="" class="a_hover">Tất cả sản phẩm dành cho trẻ em</a>
                                </div>
                                <div class="content_5">
                                    <a href="" class="a_hover">Tất cả sản phẩm dành cho thanh thiếu niên</a>
                                </div>
                                <div class="content_5">
                                    <a href="" class="a_hover">Tất cả sản phẩm dành cho trẻ em</a>
                                </div>
                                <div class="content_5">
                                    <a href="" class="a_hover">Tất cả sản phẩm dành cho trẻ nhỏ</a>
                                </div>
                                <div class="content_5">
                                    <a href="" class="a_hover"> Giảm Giá</a>
                                </div>
                                <div class="content_6">
                                    <a href="" class="a_hover">Tất cả sản phẩm dành cho thể thao</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="">THỂ THAO</a>
                        <div class="sub_content">

                        </div>
                    </li>
                    <li>
                        <a href="">CÁC NHÃN HIỆU</a>
                        <div class="sub_content">

                        </div>
                    </li>
                    <li>
                        <a href="">SẮP & MỚI RA MẮT</a>
                        <div class="sub_content">

                        </div>
                    </li>
                    <li>
                        <a href=""><b>GIẢM GIÁ</b></a>
                        <div class="sub_content">

                        </div>
                    </li>
                </ul>
            </div>
            <div class="search_help">
                <div class="help">
                    <ul class="help_ul">
                        <li><a href="">Trợ giúp</a></li>
                        <li><a href="">Trình theo dõi đơn hàng</a></li>
                        <li>
                            {% if current_user.is_authenticated %}
                            <!-- Nếu người dùng đã đăng nhập -->
                                {% if current_user.user_name == "Admin" %}
                                <!-- Nếu người dùng là admin, hiển thị nút hoặc liên kết "Chỉnh sửa" -->
                                    <a href="{{ url_for('views.income') }}">Chỉnh sửa</a>
                                    <a href="{{ url_for('user.logout') }}">Đăng xuất</a>
                                {% else %}
                                <!-- Hiển thị nút hoặc liên kết "Đăng xuất" -->
                                    <a href="{{ url_for('user.logout') }}">Đăng xuất</a>
                                {% endif %}
                            {% else %}
                                <!-- Nếu người dùng chưa đăng nhập, hiển thị nút hoặc liên kết "Đăng nhập" -->
                                <a href="{{ url_for('user.login') }}">Đăng nhập</a>
                            {% endif %}
                        </li>
                        
                        <li class="language_select">
                            <i class="fa-solid fa-chevron-down"></i>
                            <div class="_language_change">
                                <div>
                                    <p>Chọn ngôn ngữ</p>
                                </div>
                                <select name="language" id="language">
                                    <option value="Tiếng việt">Tiếng Việt</option>
                                    <option value="Tiếng Anh">Tiếng Anh</option>
                                </select>
                                <div class="button">
                                    <div class="_main_button">
                                        <p>LƯU THAY ĐỔI<i class="fa-solid fa-arrow-right"></i></p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="search">
                    <form action="" class="form">
                        <input type="text" name="search" id="search" placeholder="Tìm kiếm">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </form>
                    {% if current_user.is_authenticated %}
                    <style>
                        #user_name:hover #user_name_popup {
                            display: block;
                        }
                    
                        #user_name_popup {
                            display: none;
                            position: absolute;
                            bottom: -35px;
                            left: 10px;
                            right: 0;
                            color: red;
                        }
                    
                        #block:hover {
                            color: red;
                        }
                    </style>
                    <div id="user_name" style="position: relative;">
                        <p id="block" style="font-size: 25px; padding-left: 10px">{{ current_user.user_name[:1] }}</p>
                        <p id="user_name_popup">{{ current_user.user_name }}</p>
                    </div>
                    {% else %}
                    <i class="fa-regular fa-user"></i>
                    {% endif %}
                    <i class="fa-regular fa-heart"></i>
                    <div style="position: relative;">
                        {% if total_quantity == 0 %}
                        <a href="/cart"><i style="font-size: 20px;" class="fa-solid fa-bag-shopping"></i></a>
                        {% else %}
                        <a href="/cart"><i style="font-size: 20px;" class="fa-solid fa-bag-shopping"></i></a>
                        <a href="/cart"
                            style="border-radius: 50%; width: 20px;height: 20px; background-color: #197FB6;color: white; position: absolute; top:-10px;right: 0; left: 15px; display: flex; justify-content: center; align-items: center; text-align: center; font-size: 10px;">
                           {{total_quantity}}
                        </a>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
        <div class="navbar_sub">
            <div class="menu_s">
                <div class="menu_s_sub open">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <div class="menu_s_sub">
                    <i class="fa-regular fa-heart"></i>
                </div>
            </div>
            <a href="">
                <div class="logo_1">
                    <div class="_logo_1">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSiC0McdOqapsnG4dNrKc4ZfVy-2ffgBThzph2K26c8oQ&s"
                            alt="">
                    </div>
                </div>
            </a>
            <div class="search_s">
                <div class="search_s_sub">
                    <i class="fa-regular fa-user"></i>
                </div>
                <div class="search_s_sub">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <div class="search_s_sub">
                    <i class="fa-solid fa-bag-shopping"></i>
                </div>
            </div>
        </div>
        <div class="menu_hid">
            <a href="/home">
                <div class="logo_1">
                    <div class="_logo_1">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSiC0McdOqapsnG4dNrKc4ZfVy-2ffgBThzph2K26c8oQ&s"
                            alt="">
                    </div>
                </div>
            </a>
            <div class="wrap">
                <div>
                    <div class="close">
                        <p style="font-size: 20px;"><i class="fa-solid fa-x"></i></p>
                    </div>
                </div>
                <div class="list">
                    <div>
                        <div class="t1 a1">
                            <p><b>Nam</b></p>
                            <i class="fa-solid fa-chevron-down"></i>
                        </div>
                        <div class="c1">
                            <ul class="clist">
                                <li><a href="/shoemale_page">GIÀY</a></li>
                                <li><a href="/fashion_male">QUẦN ÁO</a></li>
                                <li><a href="">PHỤ KIỆN</a></li>
                                <li><a href="">GIẢM GIÁ</a></li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <div class="t1 a2" id="t1">
                            <p><b>Nữ</b></p>
                            <i class="fa-solid fa-chevron-down"></i>
                        </div>
                        <div class="c2">
                            <ul class="clist">
                                <li><a href="/shoefemale_page">GIÀY</a></li>
                                <li><a href="/fashion_female">QUẦN ÁO</a></li>
                                <li><a href="">PHỤ KIỆN</a></li>
                                <li><a href="">GIẢM GIÁ</a></li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <div class="t1 a3" id="t1">
                            <p><b>TRẺ EM</b></p>
                            <i class="fa-solid fa-chevron-down"></i>
                        </div>
                        <div class="c3">
                            <ul class="clist">
                                <li><a href="/shoekid_page">GIÀY</a></li>
                                <li><a href="/fashion_kid">QUẦN ÁO</a></li>
                                <li><a href="/sport_kid">THỂ LOẠI</a></li>
                                <li><a href="">GIẢM GIÁ</a></li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <div class="t1" id="t3">
                            <p>THỂ THAO</p>
                            <i class="fa-solid fa-chevron-down"></i>
                        </div>
                    </div>
                    <div>
                        <div class="t1">
                            <p>CÁC NHÃN HIỆU</p>
                            <i class="fa-solid fa-chevron-down"></i>
                        </div>
                    </div>
                    <div>
                        <div class="t1">
                            <p>OUTLET</p>
                            <i class="fa-solid fa-chevron-down"></i>
                        </div>
                    </div>
                </div>
                <div class="list_supporta">
                    <ul class="clist">
                        <li><a href="">TRÌNH THEO DÕI ĐƠN HÀNG</a></li>
                        <li><a href="">My Profile</a></li>
                        <li><a href="">Release Dates</a></li>
                        <li><a href="">Công cụ tìm kiếm cửa hàng</a></li>
                        <li><a href="">Trợ gúp dịch vụ khách hàng</a></li>
                        <li><a href="">Exchanges and returns</a></li>
                        <li><a href="">PHẢN HỒI</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="none"></div>
    <nav class="post">
        <span>EXPLORE OUR KEY ICONS - <a href="">KHÁM PHÁ ORIGINALS</a></span>
        <i class="fa-solid fa-xmark"></i>
    </nav>

    <div class="_video">
        <div class="fill_picture">
            <img style="object-fit: cover;" src="../static/img/bia-nam.jpg"
                alt="">
        </div>
        <div class="intro" style="position: relative;">
            <div class="_wrap" >
                <div>
                    <div>
                        <a href="/male_page">
                            <div class="button">
                                <div class="_main_button">
                                    <p>MUA ĐỒ NAM <i class="fa-solid fa-arrow-right"></i></p>
                                </div>
                            </div>
                        </a>
                        <br>
                        <a href="/female_page">
                            <div class="button">
                                <div class="_main_button">
                                    <p>MUA ĐỒ NỮ <i class="fa-solid fa-arrow-right"></i></p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>   
            </div>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div id="alert" class="alert alert-{{ category }}" style="position: absolute;bottom: 250px; right: 10px;">
                <div class="button">
                    <div class="_main_button">
                        <p>{{ message }} <i class="fa-solid fa-user-check"></i> </p>
                    </div>
                </div>  
            </div>
            <script>
                // Hàm tự động biến mất thông báo sau một khoảng thời gian
                setTimeout(function () {
                    var alertDiv = document.getElementById('alert');
                    alertDiv.style.display = 'none';
                }, 3000); // 3s
            </script>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </div>
    <div class="Ex">
        <div class="wrap">
            <div class="_product">
                <p>News</p>
            </div>
            <div class="image-slider">
                {% for product, type_product in men_products %}
                    <a href="{{ url_for('views.infomation', name_product=product.name_product|urlencode) }}">
                    <div class="image-item">
                        <div class="image">
                            {% if first_images[loop.index0] %}
                            <img src="../static/img/{{ first_images[loop.index0] }}" alt="" />
                            {% else %}
                            <img src="../static/img/default_image.jpg" alt="" /> <!-- Nếu không có ảnh -->
                            {% endif %}
                            <p>{{product.price}}<sup>đ</sup></p>
                        </div>
                        <div class="cost">
                            <p>{{product.name_product}}</p>
                            <p>{{type_product}}</p>
                            <p>New</p>
                        </div>
                        <div class="_border">
                        </div>
                    </div>   
                </a>
                {% endfor %}               
            </div>
        </div>
    </div>
    <div class="Topic">
        <div class="fill_picture_1">
            <img src="../static/img/bia-nu.jpg"
                alt="">
        </div>
        <div class="intro">
            <div class="_wrap">
                <div>
                    <h3 style="color: #007bc6;">SUNNI HẠ LINH</h3>
                    <h1>Tự tin với phong cách của mình</h1>
                    <br>
                    <div>
                        <a href="">
                            <div class="button">
                                <div class="_main_button">
                                    <p>MUA BỘ SƯU TẬP <i class="fa-solid fa-arrow-right"></i></p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product">
        <div class="wrap">
            <div class="title_product">
                <div class="_product">
                    <p>News</p>
                </div>
                <div class="_product">
                    <p>Our Key Icons</p>
                </div>
            </div>
            <div class="more">
                <div class="s">
                    <div class="image-slider">
                        {% for product, type_product in women_products %}
                        <a href="{{ url_for('views.infomation', name_product=product.name_product|urlencode) }}">
                        
                            <div class="image-item">
                                <div class="image">
                                    {% if first_images[loop.index0 + men_products|length] %}
                                    <img src="../static/img/{{ first_images[loop.index0 + men_products|length] }}" alt="" />
                                    {% else %}
                                    <img src="../static/img/default_image.jpg" alt="" /> <!-- Nếu không có ảnh -->
                                    {% endif %}
                                    <p>{{product.price}}<sup>đ</sup></p>
                                </div>
                                <div class="cost">
                                    <p>{{product.name_product}}</p>
                                    <p>{{type_product}}</p>
                                    <p>New</p>
                                </div>
                                <div class="_border">
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Intro_more">
        <div class="wrap">
            <div class="banner-slider">
                <div class="image-item-1">
                    <div class="image-banner">
                        <a href="">
                            <img src="https://images.unsplash.com/photo-1630520752435-fd9610101972?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80"
                                alt="" id="vip" />
                        </a>
                    </div>
                    <div class="ban">
                        <h1>The 2024 Collection</h1>
                        <p>Giới thiệu Chapter 01: Trang phục tân thời dành cho vận động viên chân chính hiện đại.
                        </p>
                        <a href="">MUA NGAY</a>
                    </div>
                </div>
                <div class="image-item-1">
                    <div class="image-banner">
                        <a href="">
                            <img src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/if_w_gt_400,w_400/running_fw23_adizero_primex_early_access_hp_tc_d_1326b2140d.jpg"
                                alt="" />
                        </a>
                    </div>
                    <div class="ban">
                        <h1>Marinerush Pack</h1>
                        <p>Cảm nhận nhịp bước dồn dập.</p>
                        <a href="">MUA NGAY</a>
                    </div>
                </div>
                <div class="image-item-1">
                    <div class="image-banner">
                        <a href="">
                            <img src="https://images.unsplash.com/photo-1556906781-9a412961c28c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80"
                                alt="" id="vip1" />
                        </a>
                    </div>
                    <div class="ban">
                        <h1>alladin training. Be Supported.</h1>
                        <p>Tiếp thêm sức mạnh cho bạn .Bộ sưu tập bền bỉ giúp bạn thoải mái..</p>
                        <a href="">MUA NGAY</a>
                    </div>
                </div>
                <div class="image-item-1">
                    <div class="image-banner">
                        <a href="">
                            <img src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/if_w_gt_400,w_400/fw23_terrex_adventure_wardrobe_hike_launch_hp_tc_d_e580d1ba20.jpg"
                                alt="" />
                        </a>
                    </div>
                    <div class="ban">
                        <h1>alladin & Simpsons</h1>
                        <p>A new range of hardwood classic receives an update from Itchy, Scratchy & Poochie.</p>
                        <a href="">MUA NGAY</a>
                    </div>
                </div>
                <div class="image-item-1">
                    <div class="image-banner">
                        <a href="">
                            <img src="https://images.unsplash.com/photo-1628413993904-94ecb60f1239?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1888&q=80"
                                alt="" />
                        </a>
                    </div>
                    <div class="ban">
                        <h1>Illegally fast</h1>
                        <p>Quá nhiều công nghệ trong một đôi giày chạy bộ, nó không được cho phép trong các cuộc đua
                            hệ tuyển.</p>
                        <a href="">MUA NGAY</a>
                    </div>
                </div>
                <div class="image-item-1">
                    <div class="image-banner">
                        <a href="">
                            <img src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/if_w_gt_400,w_400/football_fw23_aclubs_lifestyle_onsite_tcc_7f779255a4.jpg"
                                alt="" />
                        </a>
                    </div>
                    <div class="ban">
                        <h1>THE ADVENTURE WARDROBE</h1>
                        <p>Thiết kế nhiều lớp đa năng dành cho các chuyến phiêu lưu ngẫu hứng.</p>
                        <a href="">MUA NGAY</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="what">
        <div class="wrap">
            <h3 style="margin-top: 20px;">WHO ARE YOU SHOPPING FOR?</h3>
            <div class="content">
                <div class="same">
                    <img src="../static/img/faker3.jpg"
                        alt="">
                    <h2 style="display: flex;justify-content: center;">Men</h2>
                </div>
                <div class="same">
                    <img src="../static/img/faker6.jpg"
                        alt="">
                    <h2 style="display: flex;justify-content: center;">Women</h2>
                </div>
                <div class="same">
                    <img src="../static/img/faker7.jpg"
                        alt="">
                    <h2 style="display: flex;justify-content: center;">Kids</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="about_me">
        <div class="wrap">
            <div class="left">
                <h1>– Frank Vincent</h1>
                <p style="font-weight: 300;text-align: justify;">
                    “We define a metrosexual as someone who really takes care of themselves in terms of grooming and style. There is nothing wrong with that. But I think you need to have some other values. It’s cool to incorporate some traditional values into metrosexuality. Then it becomes a good lifestyle.”  <br>
                </p>
                <p style="font-weight: 300;text-align: justify;">
                    Metrosexual mô tả những anh chàng “trai thẳng” nhưng lại rất quan trọng việc chăm chút ngoại hình. Điều này chẳng có gì sao cả. Nhưng tôi nghĩ bạn cần thêm một chút gì đó để tạo nên những giá trị cá nhân. Chẳng hạn như việc kết hợp những giá trị truyền thống vào tinh thần Metrosexual, sự kết hợp này mang đến một phong cách sống rất thú vị đấy” – Frank Vincent
                </p>
            </div>
            <div class="right">
                <h1>– Hedi Slimane</h1>
                <p style="font-weight: 300;text-align: justify;">
                    “Music has shaped men’s fashion and transposed in a playful and witty manner its riding or military heritage. It is difficult to figure out who leads but music and fashion are connected genetically.”
                    
                </p>
                <br>
                <p style="font-weight: 300;text-align: justify;">
                    Âm nhạc là một trong những phương diện giúp định hình phong cách thời trang của người đàn ông và ngược lại, thời trang giúp âm nhạc trở nên vui vẻ và màu sắc hơn. Thật khó để biết thời trang hay âm nhạc là điều ảnh hưởng điều còn lại nhưng điều chúng ta không thể phủ nhận là cả hai đều có những mối liên kết mật thiết với nhau”
                </p>
            </div>
        </div>
    </div>
    <footer>
        <div class="members">
            <div class="over">
                <h1>TRỞ THÀNH HỘI VIÊN & HƯỞNG ƯU ĐÃI 15%</h1>
                <div class="button">
                    <a href="/signup">
                        <div class="_main_button">
                            <p>ĐĂNG KÝ MIỄN PHÍ <i class="fa-solid fa-arrow-right"></i></p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="opinion">
            <div class="wrap">
                <h1 style="font-size: 20px;">Ý KIẾN CỦA BẠN</h1>
                <p>
                    Chúng tôi cố gắng phục vụ bạn tốt hơn và đánh giá cao phản hồi của bạn
                </p>
            </div>
        </div>
        <div class="FAQ">
            <div class="wrap">
                <ul class="FAQ_UL">
                    <li><a href="">Công cụ của cửa hàng</a></li>
                    <li><a href="">FAQ</a></li>
                    <li><a href="">Cơ hội nghề nghiệp</a></li>
                    <li><a href="">Trình theo dõi đơn hàng</a></li>
                    <li><a href="">Trợ Giúp Dịch Vụ Khách Hàng</a></li>
                    <li><a href="">Sơ đồ trang web</a></li>
                    <li><a href="">Giao hàng</a></li>
                </ul>
            </div>
        </div>
        <div class="info">
            <div class="over">
                <div class="properties">
                    <h1>SẢN PHẨM</h1>
                    <a href="" class="a_hover">Giày</a>
                    <a href="" class="a_hover">Quần áo</a>
                    <a href="" class="a_hover">Phụ kiện</a>
                    <a href="" class="a_hover">Hàng Mới Về</a>
                    <a href="" class="a_hover">Release Dates</a>
                    <a href="" class="a_hover">Member exclusives</a>
                    <a href="" class="a_hover">Outlet</a>
                </div>
                <div class="properties">
                    <h1>THỂ THAO</h1>
                    <a href="" class="a_hover">Chạy</a>
                    <a href="" class="a_hover">Đánh Gold</a>
                    <a href="" class="a_hover">Tập luyện</a>
                    <a href="" class="a_hover">Bóng đá</a>
                    <a href="" class="a_hover">Bóng rổ</a>
                    <a href="" class="a_hover">Quần vợt</a>
                    <a href="" class="a_hover">Ngoài trời</a>
                    <a href="" class="a_hover">Bơi lội</a>
                </div>
                <div class="properties">
                    <h1>BỘ SƯU TẬP</h1>
                    <a href="" class="a_hover">IVY PARK</a>
                    <a href="" class="a_hover">Giày adidas Pharrell Williams</a>
                    <a href="" class="a_hover">Giày Ultra Boost</a>
                    <a href="" class="a_hover">Giày Pureboost</a>
                    <a href="" class="a_hover">Predator</a>
                    <a href="" class="a_hover">X</a>
                    <a href="" class="a_hover">Copa</a>
                    <a href="" class="a_hover">Continental 80</a>
                    <a href="" class="a_hover">Giày Superstar</a>
                    <a href="" class="a_hover">Giày Stan Smith</a>
                    <a href="" class="a_hover">nmd</a>
                    <a href="" class="a_hover">ZX</a>
                </div>
                <div class="properties">
                    <h1>THÔNG TIN VỀ CÔNG TY</h1>
                    <a href="" class="a_hover">Giới Thiệu Về Chúng Tôi</a>
                    <a href="" class="a_hover">Cơ Hội Nghề Nghiệp</a>
                    <a href="" class="a_hover">Tin tức</a>
                    <a href="" class="a_hover">2HM Blog</a>
                </div>
                <div class="properties">
                    <h1>HỖ TRỢ</h1>
                    <a href="" class="a_hover">Trợ Giúp Dịch Vụ Khách Hàng</a>
                    <a href="" class="a_hover">Công cụ tìm kiếm cửa hàng</a>
                    <a href="" class="a_hover">Biểu Đồ Kích Cỡ</a>
                    <a href="" class="a_hover">Thanh toán</a>
                    <a href="" class="a_hover">Giao hàng</a>
                    <a href="" class="a_hover">Trả Hàng & Hoàn Tiền</a>
                    <a href="" class="a_hover">khuyến mãi</a>
                    <a href="" class="a_hover">Sơ đồ trang web</a>
                </div>
                <div class="properties">
                    <h1>THEO DÕI CHÚNG TÔI</h1>
                    <a href="" class="a_hover"><i class="fa-brands fa-facebook"></i></a>
                    <a href="" class="a_hover"><i class="fa-brands fa-instagram"></i></a>
                    <a href="" class="a_hover"><i class="fa-brands fa-twitter"></i></a>
                    <a href="" class="a_hover"><i class="fa-brands fa-telegram"></i></a>
                    <a href="" class="a_hover"><i class="fa-brands fa-tiktok"></i></a>
                    <a href="" class="a_hover"><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>
        </div>
        <div class="policy">
            <ul>
                <li><a href="">Cài Đặt Cookie</a></li>
                <li><a href="">Chính sách Bảo mật</a></li>
                <li><a href="">Điều Khoản và Điều Kiện</a></li>
                <li><a href="">XUẤT BẢN BỞI</a></li>
                <li><a href="">© 2020 Công ty TNHH Team 15 Việt Nam</a></li>
            </ul>
        </div>
    </footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="../static/js/index.js"></script>
</body>

</html>