<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2HM Stores</title>
    <link rel="stylesheet" href="../static/css/info.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
</head>
<body class="body">
    <div class="no">
    </div>
    <div class="ship">
        <div class="wrap">
            <div>
                <div class="x">
                    <p style="font-size: 20px;"><i class="fa-solid fa-x"></i></p>
                </div>
            </div>
            <div class="aboutship">
                <div>
                    <h1>GIAO HÀNG MIỄN PHÍ CHO THÀNH VIÊN CỦA 2HMCLUB</h1>
                    <br>
                    <p>Đăng ký thành viên 2HMClub để hưởng thụ dịch vụ giao hàng miễn phí! Hoặc bạn chỉ được nhận ưu đãi
                        miễn phí giao hàng với hóa đơn có trị giá ít nhất 1.6 triệu đồng</p>
                    <br>
                    <a href="">THAM GIA NGAY</a>
                </div>
                <div>
                    <h1>TRẢ HÀNG DỄ DÀNG</h1>
                    <br>
                    <p>Nếu bạn không hài lòng với đơn hàng của mình, bạn có thể được hoàn lại tiền. Vui lòng xem Chính
                        Sách Trả Hàng của chúng tôi để biết thêm chi tiết.</p>
                    <br>
                    <a href="">TRẢ HÀNG DỄ DÀNG</a>
                </div>
            </div>
        </div>
    </div>
    <header class="title">
        <div class="text_animation">
            <p style="cursor: pointer;">GIAO HÀNG MIỄN PHÍ CHO CÁC THÀNH VIÊN CỦA 2HMCLUB&nbsp&nbsp<i
                    class="fa-solid fa-chevron-down"></i></p>
        </div>
        <div class="navbar">
            <a href="/home">
                <div class="logo">
                    <div class="_logo">
                        <img src="../static/img/2H&M.gif"
                            alt="">
                    </div>
                </div>
            </a>
            <div class="main">
                <ul class="subnav">
                    <li>
                        <a href="/male_page"><b>NAM</b></a>
                        <div class="sub_content">
                            <div class="content_link">
                                <div class="content_1">
                                    <a href="" class="a_hover"><b>NỔI BẬT</b></a>
                                    <a href="" class="a_hover">Hàng mới về</a>
                                    <a href="" class="a_hover">Member excluslves</a>
                                    <a href="" class="a_hover">Những mặt hàng bán chạy nhất tuần</a><br>
                                    <a href="" class="a_hover">Adizero</a>
                                    <a href="" class="a_hover">Samba</a>
                                    <a href="" class="a_hover">Gazelle</a>
                                    <a href="" class="a_hover">Ultraboost</a>
                                    <a href="" class="a_hover">Stan Smith</a>
                                    <a href="" class="a_hover">Superstar</a>
                                    <a href="" class="a_hover">Adilette</a>
                                </div>
                                <div class="content_2">
                                    <a href="/shoemale_page" class="a_hover"><b>GIÀY</b></a>
                                    <a href="" class="a_hover">Dòng sản phẩm Originals</a>
                                    <a href="" class="a_hover">Bóng đá</a>
                                    <a href="" class="a_hover">Chạy</a>
                                    <a href="" class="a_hover">Tập luyện</a>
                                    <a href="" class="a_hover">NGoài trời</a>
                                    <a href="" class="a_hover">Bóng rổ</a>
                                    <a href="" class="a_hover">Dep</a>
                                    <a href="" class="a_hover">Quần vợt</a>
                                    <a href="" class="a_hover">Sportswear</a>
                                </div>
                                <div class="content_2">
                                    <a href="/fashion_male" class="a_hover"><b>QUẦN ÁO</b></a>
                                    <a href="" class="a_hover">Áo phông & Áo polo</a>
                                    <a href="" class="a_hover">Áo Jersay</a>
                                    <a href="" class="a_hover">Áo hodie & Áo khoác</a>
                                    <a href="" class="a_hover">Áo nỉ và Bộ đồ thể thao</a>
                                    <a href="" class="a_hover">Quần</a>
                                    <a href="" class="a_hover">Quần bò</a>
                                    <a href="" class="a_hover">Quần sóoc</a>
                                    <a href="" class="a_hover">Áo thun Compression layers</a>
                                    <a href="" class="a_hover">Sportswear</a>
                                </div>
                                <div class="content_2">
                                    <a href="" class="a_hover"><b>PHỤ KIỆN</b></a>
                                    <a href="" class="a_hover">Tất Cả Túi</a>
                                    <a href="" class="a_hover">Ba lô</a>
                                    <a href="" class="a_hover">Túi Tập Luyện</a>
                                    <a href="" class="a_hover">Tất</a>
                                    <a href="" class="a_hover">Mũ Lưỡi Trai & Đội Đầu</a>
                                    <a href="" class="a_hover">Găng Tay</a>
                                    <a href="" class="a_hover">Bóng</a>
                                    <a href="" class="a_hover">Nẹp ỐNg Chân & Băng Buộc</a>
                                </div>
                                <div class="content_2">
                                    <a href="" class="a_hover"><b>GIẢM GIÁ</b></a>
                                    <a href="" class="a_hover">Giày</a>
                                    <a href="" class="a_hover">Quần áo</a>
                                    <a href="" class="a_hover">Phụ kiện</a>
                                </div>
                                <div class="content_3">
                                    <a href="" class="a_hover"><b>THỂ THAO</b></a>
                                    <a href="" class="a_hover">Bóng đá</a>
                                    <a href="" class="a_hover">Chạy</a>
                                    <a href="" class="a_hover">Tập luyện</a>
                                    <a href="" class="a_hover">Basketball</a>
                                    <a href="" class="a_hover">Bơi lội</a>
                                    <a href="" class="a_hover">Đánh gôn</a>
                                    <a href="" class="a_hover">Quần vợt</a>
                                    <a href="" class="a_hover">Basketball</a>
                                </div>
                                <div class="content_4">
                                    <a href="" class="a_hover">Tất cả sản phẩm dành cho nam</a>
                                </div>
                                <div class="content_5">
                                    <a href="" class="a_hover">Tất cả giày nam</a>
                                </div>
                                <div class="content_5">
                                    <a href="" class="a_hover">Tất cả quần áo nam</a>
                                </div>
                                <div class="content_5">
                                    <a href="" class="a_hover">Tất cả phụ kiện dành cho nam</a>
                                </div>
                                <div class="content_5">
                                    <a href="" class="a_hover">Tất cả Nam</a>
                                </div>
                                <div class="content_6">
                                    <a href="" class="a_hover">Our Men's Better Choices Rage</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="/female_page"><b>NỮ</b></a>
                        <div class="sub_content">
                            <div class="content_link">
                                <div class="content_1">
                                    <a href="" class="a_hover"><b>NỔI BẬT</b></a>
                                    <a href="" class="a_hover">Hàng mới về</a>
                                    <a href="" class="a_hover">Member excluslves</a>
                                    <a href="" class="a_hover">Những mặt hàng bán chạy nhất tuần</a><br>
                                    <a href="" class="a_hover">Adizero</a>
                                    <a href="" class="a_hover">Samba</a>
                                    <a href="" class="a_hover">Gazelle</a>
                                    <a href="" class="a_hover">Ultraboost</a>
                                    <a href="" class="a_hover">Stan Smith</a>
                                    <a href="" class="a_hover">Superstar</a>
                                    <a href="" class="a_hover">FORUM</a>
                                    <a href="" class="a_hover">STELLA MACCARTNEY</a>
                                </div>
                                <div class="content_2">
                                    <a href="/shoefemale_page" class="a_hover"><b>GIÀY</b></a>
                                    <a href="" class="a_hover">Dòng sản phẩm Originals</a>
                                    <a href="" class="a_hover">Running</a>
                                    <a href="" class="a_hover">Tập luyện</a>
                                    <a href="" class="a_hover">Dep</a>
                                    <a href="" class="a_hover">Quần vợt</a>
                                    <a href="" class="a_hover">Sportswear</a>
                                </div>
                                <div class="content_2">
                                    <a href="/fashion_female" class="a_hover"><b>QUẦN ÁO</b></a>
                                    <a href="" class="a_hover">Áo phông & Áo không tay</a>
                                    <a href="" class="a_hover">Áo Nỉ</a>
                                    <a href="" class="a_hover">Áo hodie & Áo khoác</a>
                                    <a href="" class="a_hover">Áo nỉ và Bộ đồ thể thao</a>
                                    <a href="" class="a_hover">Quần</a>
                                    <a href="" class="a_hover">Leggings</a>
                                    <a href="" class="a_hover">Quần sóoc</a>
                                    <a href="" class="a_hover">Váy liền</a>
                                    <a href="" class="a_hover">Sportswear</a>
                                </div>
                                <div class="content_2">
                                    <a href="" class="a_hover"><b>PHỤ KIỆN</b></a>
                                    <a href="" class="a_hover">Tất Cả Túi</a>
                                    <a href="" class="a_hover">Ba lô</a>
                                    <a href="" class="a_hover">Túi Tập Luyện</a>
                                    <a href="" class="a_hover">Tất</a>
                                    <a href="" class="a_hover">Mũ Lưỡi Trai & Đội Đầu</a>
                                    <a href="" class="a_hover">Găng Tay</a>
                                </div>
                                <div class="content_2">
                                    <a href="" class="a_hover"><b>GIẢM GIÁ</b></a>
                                    <a href="" class="a_hover">Giày</a>
                                    <a href="" class="a_hover">Quần áo</a>
                                    <a href="" class="a_hover">Phụ kiện</a>
                                </div>
                                <div class="content_3">
                                    <a href="" class="a_hover"><b>THỂ THAO</b></a>
                                    <a href="" class="a_hover">Chạy</a>
                                    <a href="" class="a_hover">Tập luyện</a>
                                    <a href="" class="a_hover">Tập Yoga</a>
                                    <a href="" class="a_hover">Đánh gôn</a>
                                    <a href="" class="a_hover">Quần vợt</a>
                                    <a href="" class="a_hover">Basketball</a>
                                </div>
                                <div class="content_4">
                                    <a href="" class="a_hover">Tất cả sản phẩm dành cho nữ</a>
                                </div>
                                <div class="content_5">
                                    <a href="" class="a_hover">Tất cả giày nữ</a>
                                </div>
                                <div class="content_5">
                                    <a href="" class="a_hover">Tất cả quần áo nữ</a>
                                </div>
                                <div class="content_5">
                                    <a href="" class="a_hover">Tất cả phụ kiện dành cho nữ</a>
                                </div>
                                <div class="content_5">
                                    <a href="" class="a_hover"> Tất cả Nữ</a>
                                </div>
                                <div class="content_6">
                                    <a href="" class="a_hover">Tất cả đồ dành cho nữ </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="/kid_page"><b>TRẺ EM</b></a>
                        <div class="sub_content">
                            <div class="content_link">
                                <div class="content_1">
                                    <a href="" class="a_hover"><b>NỔI BẬT</b></a>
                                    <a href="" class="a_hover">Hàng mới về</a>
                                    <a href="" class="a_hover">Mặt hàng bán chạy trong tuần</a><br>
                                    <a href="" class="a_hover">Hiệu năng</a>
                                    <a href="" class="a_hover">Bộ sưu tập Hellokitty</a>
                                    <a href="" class="a_hover">Originals</a>
                                    <a href="" class="a_hover">Lego</a>
                                    <a href="" class="a_hover">adicolor</a>
                                    <a href="" class="a_hover">Sportswear</a>
                                    <a href="" class="a_hover">Superstar</a><br>
                                    <a href="" class="a_hover">MEMBERS WEAK</a>
                                </div>
                                <div class="content_2">
                                    <a href="/shoekid_page" class="a_hover"><b>THANH THIẾU NIÊN(8 - 16)</b></a>
                                    <a href="" class="a_hover">Dòng sản phẩm Originals</a>
                                    <a href="" class="a_hover">Running</a>
                                    <a href="" class="a_hover">Tập luyện</a>
                                    <a href="" class="a_hover">Dep</a>
                                    <a href="" class="a_hover">Quần vợt</a>
                                    <a href="" class="a_hover">Sportswear</a>
                                </div>
                                <div class="content_2">
                                    <a href="/fashion_kid" class="a_hover"><b>TRẺ EM(4 - 8)</b></a>
                                    <a href="" class="a_hover">Áo phông & Áo không tay</a>
                                    <a href="" class="a_hover">Áo Nỉ</a>
                                    <a href="" class="a_hover">Áo hodie & Áo khoác</a>
                                    <a href="" class="a_hover">Áo nỉ và Bộ đồ thể thao</a>
                                    <a href="" class="a_hover">Quần</a>
                                    <a href="" class="a_hover">Leggings</a>
                                    <a href="" class="a_hover">Quần sóoc</a>
                                    <a href="" class="a_hover">Váy liền</a>
                                    <a href="" class="a_hover">Sportswear</a>
                                </div>
                                <div class="content_2">
                                    <a href="" class="a_hover"><b>TRẺ NHỎ VÀ TRẺ MỚI BIẾT ĐI (1 - 4)</b></a>
                                    <a href="" class="a_hover">Tất Cả Túi</a>
                                    <a href="" class="a_hover">Ba lô</a>
                                    <a href="" class="a_hover">Túi Tập Luyện</a>
                                    <a href="" class="a_hover">Tất</a>
                                    <a href="" class="a_hover">Mũ Lưỡi Trai & Đội Đầu</a>
                                    <a href="" class="a_hover">Găng Tay</a>
                                </div>
                                <div class="content_2">
                                    <a href="" class="a_hover"><b>GIẢM GIÁ</b></a>
                                    <a href="" class="a_hover">Giày</a>
                                    <a href="" class="a_hover">Quần áo</a>
                                    <a href="" class="a_hover">Phụ kiện</a>
                                </div>
                                <div class="content_3">
                                    <a href="" class="a_hover"><b>THỂ THAO</b></a>
                                    <a href="" class="a_hover">Chạy</a>
                                    <a href="" class="a_hover">Tập luyện</a>
                                    <a href="" class="a_hover">Tập Yoga</a>
                                    <a href="" class="a_hover">Đánh gôn</a>
                                    <a href="" class="a_hover">Quần vợt</a>
                                    <a href="" class="a_hover">Basketball</a>
                                </div>
                                <div class="content_4">
                                    <a href="" class="a_hover">Tất cả sản phẩm dành cho trẻ em</a>
                                </div>
                                <div class="content_5">
                                    <a href="" class="a_hover">Tất cả sản phẩm dành cho thanh thiếu niên</a>
                                </div>
                                <div class="content_5">
                                    <a href="" class="a_hover">Tất cả sản phẩm dành cho trẻ em</a>
                                </div>
                                <div class="content_5">
                                    <a href="" class="a_hover">Tất cả sản phẩm dành cho trẻ nhỏ</a>
                                </div>
                                <div class="content_5">
                                    <a href="" class="a_hover"> Giảm Giá</a>
                                </div>
                                <div class="content_6">
                                    <a href="" class="a_hover">Tất cả sản phẩm dành cho thể thao</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="">THỂ THAO</a>
                        <div class="sub_content">

                        </div>
                    </li>
                    <li>
                        <a href="">CÁC NHÃN HIỆU</a>
                        <div class="sub_content">

                        </div>
                    </li>
                    <li>
                        <a href="">SẮP & MỚI RA MẮT</a>
                        <div class="sub_content">

                        </div>
                    </li>
                    <li>
                        <a href=""><b>GIẢM GIÁ</b></a>
                        <div class="sub_content">

                        </div>
                    </li>
                </ul>
            </div>
            <div class="search_help">
                <div class="help">
                    <ul class="help_ul">
                        <li><a href="">Trợ giúp</a></li>
                        <li><a href="">Trình theo dõi đơn hàng</a></li>
                        <li>
                            {% if current_user.is_authenticated %}
                            <!-- Nếu người dùng đã đăng nhập -->
                            {% if current_user.user_name == "Admin" %}
                            <!-- Nếu người dùng là admin, hiển thị nút hoặc liên kết "Chỉnh sửa" -->
                            <a href="{{ url_for('user.logout') }}">Chỉnh sửa</a>
                            {% else %}
                            <!-- Hiển thị nút hoặc liên kết "Đăng xuất" -->
                            <a href="{{ url_for('user.logout') }}">Đăng xuất</a>
                            {% endif %}
                            {% else %}
                            <!-- Nếu người dùng chưa đăng nhập, hiển thị nút hoặc liên kết "Đăng nhập" -->
                            <a href="{{ url_for('user.login') }}">Đăng nhập</a>
                            {% endif %}
                        </li>
                        <li class="language_select">
                            <i class="fa-solid fa-chevron-down"></i>
                            <div class="_language_change">
                                <div>
                                    <p>Chọn ngôn ngữ</p>
                                </div>
                                <select name="language" id="language">
                                    <option value="Tiếng việt">Tiếng Việt</option>
                                    <option value="Tiếng Anh">Tiếng Anh</option>
                                </select>
                                <div class="button">
                                    <div class="_main_button">
                                        <p>LƯU THAY ĐỔI<i class="fa-solid fa-arrow-right"></i></p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="search">
                    <form action="" class="form">
                        <input type="text" name="search" id="search" placeholder="Tìm kiếm">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </form>
                    {% if current_user.is_authenticated %}
                    <style>
                        #user_name:hover #user_name_popup {
                            display: block;
                        }
                    
                        #user_name_popup {
                            display: none;
                            position: absolute;
                            bottom: -35px;
                            left: 10px;
                            right: 0;
                            color: red;
                        }
                    
                        #block:hover {
                            color: red;
                        }
                    </style>
                    <div id="user_name" style="position: relative;">
                        <p id="block" style="font-size: 25px; padding-left: 10px">{{ current_user.user_name[:1] }}</p>
                        <p id="user_name_popup">{{ current_user.user_name }}</p>
                    </div>
                    {% else %}
                    <i class="fa-regular fa-user"></i>
                    {% endif %}
                    <i class="fa-regular fa-heart"></i>
                    <i class="fa-solid fa-bag-shopping"></i>
                </div>
            </div>
        </div>
        <div class="navbar_sub">
            <div class="menu_s">
                <div class="menu_s_sub open">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <div class="menu_s_sub">
                    <i class="fa-regular fa-heart"></i>
                </div>
            </div>
            <a href="/home">
                <div class="logo_1">
                    <div class="_logo_1">
                        <img src="../static/img/2H&M_LOGO.png"
                            alt="">
                    </div>
                </div>
            </a>
            <div class="search_s">
                <div class="search_s_sub">
                    <i class="fa-regular fa-user"></i>
                </div>
                <div class="search_s_sub">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <div class="search_s_sub">
                    <i class="fa-solid fa-bag-shopping"></i>
                </div>
            </div>
        </div>
        <div class="menu_hid">
            <a href="/home">
                <div class="logo_1">
                    <div class="_logo_1">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSiC0McdOqapsnG4dNrKc4ZfVy-2ffgBThzph2K26c8oQ&s"
                            alt="">
                    </div>
                </div>
            </a>
            <div class="wrap">
                <div>
                    <div class="close">
                        <p style="font-size: 20px;"><i class="fa-solid fa-x"></i></p>
                    </div>
                </div>
                <div class="list">
                    <div>
                        <div class="t1 a1">
                            <p><b>Nam</b></p>
                            <i class="fa-solid fa-chevron-down"></i>
                        </div>
                        <div class="c1">
                            <ul class="clist">
                                <li><a href="/shoemale_page">GIÀY</a></li>
                                <li><a href="/fashion_male">QUẦN ÁO</a></li>
                                <li><a href="">PHỤ KIỆN</a></li>
                                <li><a href="">GIẢM GIÁ</a></li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <div class="t1 a2" id="t1">
                            <p><b>Nữ</b></p>
                            <i class="fa-solid fa-chevron-down"></i>
                        </div>
                        <div class="c2">
                            <ul class="clist">
                                <li><a href="/shoefemale_page">GIÀY</a></li>
                                <li><a href="/fashion_female">QUẦN ÁO</a></li>
                                <li><a href="">PHỤ KIỆN</a></li>
                                <li><a href="">GIẢM GIÁ</a></li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <div class="t1 a3" id="t1">
                            <p><b>TRẺ EM</b></p>
                            <i class="fa-solid fa-chevron-down"></i>
                        </div>
                        <div class="c3">
                            <ul class="clist">
                                <li><a href="/kid_page">GIÀY</a></li>
                                <li><a href="/fashion_kid">QUẦN ÁO</a></li>
                                <li><a href="/sport_kid">THỂ LOẠI</a></li>
                                <li><a href="">GIẢM GIÁ</a></li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <div class="t1" id="t3">
                            <p>THỂ THAO</p>
                            <i class="fa-solid fa-chevron-down"></i>
                        </div>
                    </div>
                    <div>
                        <div class="t1">
                            <p>CÁC NHÃN HIỆU</p>
                            <i class="fa-solid fa-chevron-down"></i>
                        </div>
                    </div>
                    <div>
                        <div class="t1">
                            <p>OUTLET</p>
                            <i class="fa-solid fa-chevron-down"></i>
                        </div>
                    </div>
                </div>
                <div class="list_supporta">
                    <ul class="clist">
                        <li><a href="">TRÌNH THEO DÕI ĐƠN HÀNG</a></li>
                        <li><a href="">My Profile</a></li>
                        <li><a href="">Release Dates</a></li>
                        <li><a href="">Công cụ tìm kiếm cửa hàng</a></li>
                        <li><a href="">Trợ gúp dịch vụ khách hàng</a></li>
                        <li><a href="">Exchanges and returns</a></li>
                        <li><a href="">PHẢN HỒI</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <nav class="post">
        <span>EXPLORE OUR KEY ICONS - <a href="">KHÁM PHÁ ORIGINALS</a></span>
        <i class="fa-solid fa-xmark"></i>
    </nav>
    <div class="main_info">
        <div class="left_content">
            <div class="parent">
                <ul class="back">
                    <li>
                        <a href="/home"><i class="fa-solid fa-arrow-left"></i> Trở lại</a>
                    </li>
                    <li>
                        <a href="/home">Trang chủ</a>
                    </li>
                    <li>
                        <a href="/home">Original</a>
                    </li>
                    <li>
                        <a href="/home">Giày</a>
                    </li>
                </ul>
                <div class="im">
                    {% for image in images %}
                        {% if loop.index >= 1 and loop.index <= 4 %}
                    <div class="cover">
                        <img src="../static/img/{{image}}"
                            alt="">
                    </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="toggle">
                    <div class="im">
                    {% for image in images %}
                        {% if loop.index > 4 and loop.index <= 8 %}
                        <div class="cover">
                            <img src="../static/img/{{image}}"
                                alt="">
                        </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
                <div class="show_more">
                    <p>Hiện thêm</p>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
            </div>
            <div class="wrap_n">
                <div class="title_1">
                    <p>MÔ TẢ</p>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="Ds_info_1">
                    <div>
                        <div class="text">
                            {% for describe in describes %}
                                {% if loop.index == 1 %}
                            <h1>
                                {{describe}}
                            </h1>
                                {% endif %}
                            {% endfor %}
                            {% for describe in describes %}
                                {% if loop.index == 2 %}
                            <span> 
                                {{describe |safe}}
                            </span>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="img_Ds">
                            {% for image in images %}
                                {% if loop.index == 1 %}
                            <img id="product-img" src="../static/img/{{image}}"
                                alt="">
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="title_2">
                    <p>THÔNG TIN CHI TIẾT</p>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="Ds_info_2">
                    <div class="text">
                        {% for extend in extends %}
                            {% if loop.index == 1 %}
                        <h1>
                            {{extend}}
                        </h1>
                            {% endif %}
                        {% endfor %}
                        {% for extend in extends %}
                            {% if loop.index == 2 %}
                        <span>
                            {{extend | safe}}
                        </span>
                            {% endif %}
                        {%  endfor %}
                    </div>
                </div>
            </div>
            <div class="more_product">
                <h2 style="margin-bottom: 20px; background-color: #000000;color: white; display: flex;justify-content: center; padding: 5px 0; font-weight: normal;">
                    YOU MAY ALSO LIKE
                </h2>
                <div class="image-slider">
                    {% if detail.type_product == "Nam_" %}
                    {% for other_product in other_products_Nam %}
                    <a href="{{ url_for('views.infomation', name_product=other_product.name_product) }}">
                        <div class="image-item">
                            <div class="image">
                                <img src="../static/img/{{ other_product.image.split(',')[0] }}"
                                    alt="" />
                                <p>{{other_product.price}}<sup>đ</sup></p>
                            </div>
                            <div class="cost">
                                <p>{{other_product.name_product}}</p>
                                <p>Man's Fashion</p>
                                <p>New</p>
                            </div>
                            <div class="_border">

                            </div>
                        </div>
                    </a>
                    {% endfor %}
                    {% elif detail.type_product == "Nữ_" %}
                    {% for other_product in other_products_Nu %}
                    <a href="{{ url_for('views.infomation', name_product=other_product.name_product) }}">
                        <div class="image-item">
                            <div class="image">
                                <img src="../static/img/{{ other_product.image.split(';')[0] }}" alt="" />
                                <p>{{other_product.price}}<sup>đ</sup></p>
                            </div>
                            <div class="cost">
                                <p>{{other_product.name_product}}</p>
                                <p>Fashion</p>
                                <p>New</p>
                            </div>
                            <div class="_border">
                    
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="right_content">
            <div id="product-info">
                <p>Originals</p>
                <h1 id="product-name">{{product.name_product}}</h1>
                <p id="product-price">{{product.price}}</p>
                <p style="display: none;" id="product-quantity">{{product.quantity}}</p>
            </div>
            <div>
                <p style="font-weight: 300;">
                    Đơn hàng được xác nhận sau khi xác nhận thanh toán. Không đổi hàng, trả hàng hay hoàn tiền trừ
                    trường hợp pháp luật có quy định khác. Sản phẩm này không áp dụng bất kỳ chương trình ưu đãi và
                    khuyến mãi nào. Giới hạn số lượng 1 sản phẩm trên mỗi đơn hàng.
                </p>
            </div>
            <div>
                {% for color in colors %}
                    {% if loop.index == 1%}
                        <input type="radio" name="color" value="{{ color }}"> {{color}}
                    {% elif loop.index ==2 %}
                        <input type="radio" name="color" value="{{ color }}"> {{color}}
                    {% elif loop.index ==3 %}
                        <input type="radio" name="color" value="{{ color }}"> {{color}}
                    {% else %}
                        <input type="radio" name="color" value="{{ color }}"> {{color}}
                    {% endif%}
                {% endfor %}
                <br>
                {% for size in sizes %}
                {% if loop.index == 1%}
                <input type="radio" name="size" value="{{ size }}"> {{size}} <br>
                {% elif loop.index ==2 %}
                <input type="radio" name="size" value="{{ size }}"> {{size}} <br>
                {% elif loop.index ==3 %}
                <input type="radio" name="size" value="{{ size }}"> {{size}} <br>
                {% elif loop.index == 4 %}
                <input type="radio" name="size" value="{{ size }}"> {{size}} <br>
                {% elif loop.index == 5 %}
                <input type="radio" name="size" value="{{ size }}"> {{size}} <br>
                {% elif loop.index == 6 %}
                <input type="radio" name="size" value="{{ size }}"> {{size}} <br>
                {% elif loop.index == 7 %}
                <input type="radio" name="size" value="{{ size }}"> {{size}} <br>
                {% else %}
                <input type="radio" name="size" value="{{ size }}"> {{size}} <br>
                {% endif%}
                {% endfor %}
            </div>
            <div>
                <h3>
                    MỞ BÁN VÀO SATURDAY, OCTOBER 21ST TẠI 2HM STORE
                </h3>
                <div class="button">
                        <div class="_main_button">
                             <button style="border: none; background-color: black; color: white;" onclick="addToCart('{{ product.product_id }}')"><p>THÊM VÀO GIỎ HÀNG <i class="fa-solid fa-arrow-right"></i></p></button>
                        </div>
                </div>
            </div>
            <div>
                <span>
                    <i class="fa-solid fa-truck-fast"></i> <a href=""> FREE SHIPPING FOR ADICLUB MEMBERS</a>
                </span>
                <span>
                    <i class="fa-solid fa-right-left"></i> <a href=""></i> HOÀN TRẢ DỄ DÀNG</a>
                </span>
            </div>
        </div>
    </div>
    <footer>
        <div class="members">
            <div class="over">
                <h1>TRỞ THÀNH HỘI VIÊN & HƯỞNG ƯU ĐÃI 15%</h1>
                <div class="button">
                    <a href="/login">
                        <div class="_main_button">
                            <p>ĐĂNG KÝ MIỄN PHÍ <i class="fa-solid fa-arrow-right"></i></p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="opinion">
            <div class="wrap">
                <h1 style="font-size: 20px;">Ý KIẾN CỦA BẠN</h1>
                <p>
                    Chúng tôi cố gắng phục vụ bạn tốt hơn và đánh giá cao phản hồi của bạn
                </p>
            </div>
        </div>
        <div class="FAQ">
            <div class="wrap">
                <ul class="FAQ_UL">
                    <li><a href="">Công cụ của cửa hàng</a></li>
                    <li><a href="">FAQ</a></li>
                    <li><a href="">Cơ hội nghề nghiệp</a></li>
                    <li><a href="">Trình theo dõi đơn hàng</a></li>
                    <li><a href="">Trợ Giúp Dịch Vụ Khách Hàng</a></li>
                    <li><a href="">Sơ đồ trang web</a></li>
                    <li><a href="">Giao hàng</a></li>
                </ul>
            </div>
        </div>
        <div class="info">
            <div class="over">
                <div class="properties">
                    <h1>SẢN PHẨM</h1>
                    <a href="" class="a_hover">Giày</a>
                    <a href="" class="a_hover">Quần áo</a>
                    <a href="" class="a_hover">Phụ kiện</a>
                    <a href="" class="a_hover">Hàng Mới Về</a>
                    <a href="" class="a_hover">Release Dates</a>
                    <a href="" class="a_hover">Member exclusives</a>
                    <a href="" class="a_hover">Outlet</a>
                </div>
                <div class="properties">
                    <h1>THỂ THAO</h1>
                    <a href="" class="a_hover">Chạy</a>
                    <a href="" class="a_hover">Đánh Gold</a>
                    <a href="" class="a_hover">Tập luyện</a>
                    <a href="" class="a_hover">Bóng đá</a>
                    <a href="" class="a_hover">Bóng rổ</a>
                    <a href="" class="a_hover">Quần vợt</a>
                    <a href="" class="a_hover">Ngoài trời</a>
                    <a href="" class="a_hover">Bơi lội</a>
                </div>
                <div class="properties">
                    <h1>BỘ SƯU TẬP</h1>
                    <a href="" class="a_hover">IVY PARK</a>
                    <a href="" class="a_hover">Giày adidas Pharrell Williams</a>
                    <a href="" class="a_hover">Giày Ultra Boost</a>
                    <a href="" class="a_hover">Giày Pureboost</a>
                    <a href="" class="a_hover">Predator</a>
                    <a href="" class="a_hover">X</a>
                    <a href="" class="a_hover">Copa</a>
                    <a href="" class="a_hover">Continental 80</a>
                    <a href="" class="a_hover">Giày Superstar</a>
                    <a href="" class="a_hover">Giày Stan Smith</a>
                    <a href="" class="a_hover">nmd</a>
                    <a href="" class="a_hover">ZX</a>
                </div>
                <div class="properties">
                    <h1>THÔNG TIN VỀ CÔNG TY</h1>
                    <a href="" class="a_hover">Giới Thiệu Về Chúng Tôi</a>
                    <a href="" class="a_hover">Cơ Hội Nghề Nghiệp</a>
                    <a href="" class="a_hover">Tin tức</a>
                    <a href="" class="a_hover">2HM Blog</a>
                </div>
                <div class="properties">
                    <h1>HỖ TRỢ</h1>
                    <a href="" class="a_hover">Trợ Giúp Dịch Vụ Khách Hàng</a>
                    <a href="" class="a_hover">Công cụ tìm kiếm cửa hàng</a>
                    <a href="" class="a_hover">Biểu Đồ Kích Cỡ</a>
                    <a href="" class="a_hover">Thanh toán</a>
                    <a href="" class="a_hover">Giao hàng</a>
                    <a href="" class="a_hover">Trả Hàng & Hoàn Tiền</a>
                    <a href="" class="a_hover">khuyến mãi</a>
                    <a href="" class="a_hover">Sơ đồ trang web</a>
                </div>
                <div class="properties">
                    <h1>THEO DÕI CHÚNG TÔI</h1>
                    <a href="" class="a_hover"><i class="fa-brands fa-facebook"></i></a>
                    <a href="" class="a_hover"><i class="fa-brands fa-instagram"></i></a>
                    <a href="" class="a_hover"><i class="fa-brands fa-twitter"></i></a>
                    <a href="" class="a_hover"><i class="fa-brands fa-telegram"></i></a>
                    <a href="" class="a_hover"><i class="fa-brands fa-tiktok"></i></a>
                    <a href="" class="a_hover"><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>
        </div>
        <div class="policy">
            <ul>
                <li><a href="">Cài Đặt Cookie</a></li>
                <li><a href="">Chính sách Bảo mật</a></li>
                <li><a href="">Điều Khoản và Điều Kiện</a></li>
                <li><a href="">XUẤT BẢN BỞI</a></li>
                <li><a href="">© 2020 Công ty TNHH Team 15 Việt Nam</a></li>
            </ul>
        </div>
    </footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="../static/js/info.js"></script>
</body>
<script>
    var isLoggedIn = {{ current_user.is_authenticated| tojson | safe }};
</script>
<script>
    function addToCart(productId) {
        // Kiểm tra xem người dùng đã đăng nhập chưa
        if (!isLoggedIn) {
            // Nếu chưa đăng nhập, hiển thị hộp thoại xác nhận
            var logConfirm = confirm("Bạn cần đăng nhập trước khi thêm sản phẩm vào giỏ hàng. Bạn có muốn chuyển đến trang đăng nhập?");
            if (logConfirm) {
                // Nếu người dùng đồng ý, chuyển hướng đến trang đăng nhập
                window.location.href = '/login';
            } else {
                // Nếu người dùng không đồng ý, không làm gì cả
                return;
            }
        }
        // Lấy thông tin sản phẩm từ giao diện
        var productName = document.getElementById("product-name").innerText;
        var productPrice = document.getElementById("product-price").innerText;
        var productQuantity = document.getElementById("product-quantity").innerText;
        var imgElement = document.getElementById("product-img");
        var srcAttribute = imgElement.getAttribute("src");
        var productImage = srcAttribute.split('/').pop();
        var selectedColor = document.querySelector('input[name="color"]:checked').value;
        var selectedSize = document.querySelector('input[name="size"]:checked').value;
        console.log(selectedColor)
        // Tạo đối tượng chứa thông tin sản phẩm
        var productInfo = {
            productId: productId,
            productName: productName,
            productPrice: productPrice,
            productQuantity: productQuantity,
            productImage: productImage,
            selectedColor: selectedColor,
            selectedSize: selectedSize
        };

        // Nếu đã đăng nhập, gửi yêu cầu thêm sản phẩm vào giỏ hàng bằng fetch
        fetch('/add_to_cart/' + productId, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            // Có thể truyền dữ liệu JSON nếu cần
            body: JSON.stringify(productInfo)
        })
            .then(response => {
                if (response.ok) {
                    // Nếu thành công, hiển thị alert
                    alert("Sản phẩm đã được thêm vào giỏ hàng");
                    // Chuyển hướng đến trang giỏ hàng
                    window.location.href = '/cart';
                } else {
                    // Nếu có lỗi, hiển thị alert thông báo lỗi
                    alert("Sản phẩm đã tồn tại trong giỏ hàng");
                }
            })
            .catch(error => {
                // Xử lý lỗi nếu có
                console.error(error);
            });
    }
</script>


</html>