<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2HM Stores</title>
    <link rel="stylesheet" href="../static/css/info.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
</head>

<body class="body">
    <header class="title">
        <div class="navbar">
            <a href="/home">
                <div class="logo">
                    <div class="_logo">
                        <img src="../static/img/2H&M.gif" alt="">
                    </div>
                </div>
            </a>
            <div><h1 style="font-weight: normal; display: flex;justify-content: center; margin-top: 80px;">Thanh Toán</h1></div>
            <div class="search_help" style="margin-top: 30px;">
                <div class="search">
                    <div style="position: relative;">
                        {% if total_quantity == 0 %}
                        <a href="/cart"><i style="font-size: 20px;"
                                class="fa-solid fa-bag-shopping"></i></a>
                        {% else %}
                        <a href="/cart"><i style="font-size: 20px;"
                                class="fa-solid fa-bag-shopping"></i></a>
                        <a href="/cart"
                            style="border-radius: 50%; width: 20px;height: 20px; background-color: #197FB6;color: white; position: absolute; top:-10px;right: 0; left: 15px; display: flex; justify-content: center; align-items: center; text-align: center; font-size: 10px;">
                            {{total_quantity}}
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar_sub">
            <div class="menu_s">
                <div class="menu_s_sub open">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <div class="menu_s_sub">
                    <i class="fa-regular fa-heart"></i>
                </div>
            </div>
            <a href="/home">
                <div class="logo_1">
                    <div class="_logo_1">
                        <img src="../static/img/2H&M_LOGO.png" alt="">
                    </div>
                </div>
            </a>
            <div class="search_s">
                <div class="search_s_sub">
                    <i class="fa-regular fa-user"></i>
                </div>
                <div class="search_s_sub">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <div class="search_s_sub">
                    <i class="fa-solid fa-bag-shopping"></i>
                </div>
            </div>
        </div>
        <div class="menu_hid">
            <a href="/home">
                <div class="logo_1">
                    <div class="_logo_1">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSiC0McdOqapsnG4dNrKc4ZfVy-2ffgBThzph2K26c8oQ&s"
                            alt="">
                    </div>
                </div>
            </a>
            <div class="wrap">
                <div>
                    <div class="close">
                        <p style="font-size: 20px;"><i class="fa-solid fa-x"></i></p>
                    </div>
                </div>
                <div class="list">
                    <div>
                        <div class="t1 a1">
                            <p><b>Nam</b></p>
                            <i class="fa-solid fa-chevron-down"></i>
                        </div>
                        <div class="c1">
                            <ul class="clist">
                                <li><a href="/shoemale_page">GIÀY</a></li>
                                <li><a href="/fashion_male">QUẦN ÁO</a></li>
                                <li><a href="">PHỤ KIỆN</a></li>
                                <li><a href="">GIẢM GIÁ</a></li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <div class="t1 a2" id="t1">
                            <p><b>Nữ</b></p>
                            <i class="fa-solid fa-chevron-down"></i>
                        </div>
                        <div class="c2">
                            <ul class="clist">
                                <li><a href="/shoefemale_page">GIÀY</a></li>
                                <li><a href="/fashion_female">QUẦN ÁO</a></li>
                                <li><a href="">PHỤ KIỆN</a></li>
                                <li><a href="">GIẢM GIÁ</a></li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <div class="t1 a3" id="t1">
                            <p><b>TRẺ EM</b></p>
                            <i class="fa-solid fa-chevron-down"></i>
                        </div>
                        <div class="c3">
                            <ul class="clist">
                                <li><a href="/kid_page">GIÀY</a></li>
                                <li><a href="/fashion_kid">QUẦN ÁO</a></li>
                                <li><a href="/sport_kid">THỂ LOẠI</a></li>
                                <li><a href="">GIẢM GIÁ</a></li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <div class="t1" id="t3">
                            <p>THỂ THAO</p>
                            <i class="fa-solid fa-chevron-down"></i>
                        </div>
                    </div>
                    <div>
                        <div class="t1">
                            <p>CÁC NHÃN HIỆU</p>
                            <i class="fa-solid fa-chevron-down"></i>
                        </div>
                    </div>
                    <div>
                        <div class="t1">
                            <p>OUTLET</p>
                            <i class="fa-solid fa-chevron-down"></i>
                        </div>
                    </div>
                </div>
                <div class="list_supporta">
                    <ul class="clist">
                        <li><a href="">TRÌNH THEO DÕI ĐƠN HÀNG</a></li>
                        <li><a href="">My Profile</a></li>
                        <li><a href="">Release Dates</a></li>
                        <li><a href="">Công cụ tìm kiếm cửa hàng</a></li>
                        <li><a href="">Trợ gúp dịch vụ khách hàng</a></li>
                        <li><a href="">Exchanges and returns</a></li>
                        <li><a href="">PHẢN HỒI</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="main_info">
        <div class="left_content">
            <div>
                {% for product in products_details %}
                <div class="cart" style="margin-left: 80px; background-color: #ECEFF1;">
                    <div>
                        <img width="270px" height="247px" style="object-fit: cover;"
                            src="../static/img/{{product.image}}" alt="">
                    </div>
                    <div style="display: flex; flex-direction: column; justify-content: space-around;">
                        <h3 style="text-transform: uppercase;">{{ product.name_product }}</h3>
                        <p style="text-transform: uppercase;">
                            {{product.details.color_product}}
                        </p>
                        <p style="text-transform: uppercase;">{{product.details.size_product}}</p>
                        <select style="max-width: 200px; outline: none;" name="quantity"
                            onchange="updateQuantity(this.value, {{ product.product_id }})">
                            <option style="font-weight: bold;">{{product.quantity}}</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>

                    </div>
                    <div style="display: flex;flex-direction: column;justify-content: space-around;">
                        <div>
                            <p>ĐƠN GIÁ</p>
                            <p>{{product.price}} <sub>đ</sub></p>
                        </div>
                    </div>
                    <div style="margin-right: 5px;">
                        <style>
                            #close:hover {
                                color: red;
                            }
                        </style>
                        <button style="border: none; background-color: white;"
                            onclick="removeProduct({{ product.product_id }})"><i id="close"
                                style="font-size: 20px; cursor: pointer;" class="fa-solid fa-xmark"></i></button>
                    </div>
                </div>
                {% endfor %}
                <div class="more_product">
                    <h1>
                        YOU MAY ALSO LIKE
                    </h1>

                </div>
                <div class="image-slider">
                    <a href="">
                        <div class="image-item">
                            <div class="image">
                                <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/7477b277ec6647919fa241a78609964a_9366/Giay_Alphaboost_V1_mau_xanh_la_IG3129_01_standard.jpg"
                                    alt="" />
                                <p>3.600.000<sup>đ</sup></p>
                            </div>
                            <div class="cost">
                                <p>Nam Chạy Giày Adizero Adios 8</p>
                                <p>Nam Chạy</p>
                                <p>New</p>
                            </div>
                            <div class="_border">

                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="image-item">
                            <div class="image">
                                <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/eb1e2d9fd65242d588bddc35bd66e61e_9366/Giay_X_PLR_Boost_Mau_xanh_da_troi_ID9580_01_standard.jpg"
                                    alt="" />
                                <p>3.600.000<sup>đ</sup></p>
                            </div>
                            <div class="cost">
                                <p>Nữ Chạy Giày Adizero Adios 8</p>
                                <p>Nữ Chạy</p>
                                <p>New</p>
                            </div>
                            <div class="_border">

                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="image-item">
                            <div class="image">
                                <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/3c43063276d94cbbb23a74dcd292bd3c_9366/Giay_X_PLR_Boost_mau_xanh_la_ID9579_01_standard.jpg"
                                    alt="" />
                                <p>3.600.000<sup>đ</sup></p>
                            </div>
                            <div class="cost">
                                <p>Nam Sportswear Giày Alphaboost V1</p>
                                <p>Nam Sportswear</p>
                                <p>New</p>
                            </div>
                            <div class="_border">

                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="image-item">
                            <div class="image">
                                <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/91fa955f44f54f3bb9f3634bca6ecb5f_9366/GAZELLE_DJo_IE8503_01_standard.jpg"
                                    alt="" />
                                <p>3.600.000<sup>đ</sup></p>
                            </div>
                            <div class="cost">
                                <p>Nam Sportswear Giày X_PLR Boost</p>
                                <p>Nam Sportswear</p>
                                <p>New</p>
                            </div>
                            <div class="_border">

                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="image-item">
                            <div class="image">
                                <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/af6af2de73824e3bbbe435933a357fde_9366/Giay_Chay_Bo_Switch_FWD_mau_xanh_la_IG0676_HM1.jpg"
                                    alt="" />
                                <p>3.600.000<sup>đ</sup></p>
                            </div>
                            <div class="cost">
                                <p>Nam Sportswear Giày X_PLR Boost</p>
                                <p>Nam Sportswear</p>
                                <p>New</p>
                            </div>
                            <div class="_border">

                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="image-item">
                            <div class="image">
                                <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/520fd9246c6d439eb1d5a9f0842e4976_9366/Giay_X_PLR_Boost_Hong_IF2954_01_standard.jpg"
                                    alt="" />
                                <p>3.600.000<sup>đ</sup></p>
                            </div>
                            <div class="cost">
                                <p>Nam Originals GAZELLE</p>
                                <p>Nam Originals</p>
                                <p>New</p>
                            </div>
                            <div class="_border">

                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="image-item">
                            <div class="image">
                                <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/841d520758dc46879a708b4e316e6691_9366/Giay_X_PLR_Boost_Xam_IF2953_01_standard.jpg"
                                    alt="" />
                                <p>3.600.000<sup>đ</sup></p>
                            </div>
                            <div class="cost">
                                <p>Nữ Sportswear Giày X_PLR Boost</p>
                                <p>NNữ Sportswear</p>
                                <p>New</p>
                            </div>
                            <div class="_border">

                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="image-item">
                            <div class="image">
                                <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/e711a37af3424846b5470558bcd2bcb7_9366/Giay_Ultraboost_Light_Xam_IE1759_01_standard.jpg"
                                    alt="" />
                                <p>3.600.000<sup>đ</sup></p>
                            </div>
                            <div class="cost">
                                <p>Nữ Sportswear Giày X_PLR Boost</p>
                                <p>Nữ Sportswear</p>
                                <p>New</p>
                            </div>
                            <div class="_border">

                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="image-item">
                            <div class="image">
                                <img src="https://assets.adidas.com/images/w_280,h_280,f_auto,q_auto:sensitive/316297fac2c54c689ec192e376e79540_9366/gi%C3%A0y-ultraboost-light.jpg"
                                    alt="" />
                                <p>3.600.000<sup>đ</sup></p>
                            </div>
                            <div class="cost">
                                <p>Nam Chạy Giày Ultraboost Light</p>
                                <p>Nam Chạy</p>
                                <p>New</p>
                            </div>
                            <div class="_border">

                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="right_content">
            <div class="button">
                <div class="_main_button" style="width: 100%;">
                    <button style="border: none; background-color: black; color: white;">
                        <p>THANH TOÁN <i class="fa-solid fa-arrow-right"></i></p>
                    </button>
                </div>
            </div>
            <div>
                <h2>TÓM TẮT ĐƠN HÀNG</h2>
            </div>
            <div style="display: flex;justify-content: space-between;">
                <p>{{total_quantity}} các sản phẩm</p>
                <p style="margin-right: 20px;">
                    {{ total_price }}
                    <sup>đ</sup>
                </p>
            </div>

            <div style="display: flex;justify-content: space-between; flex-direction: row; margin-top: -40px;">
                <p>Giao hàng</p>
                <p style="margin-right: 20px;">Miễn phí</p>
            </div>
            <div style="display: flex;justify-content: space-between; flex-direction: row;">
                <p style="font-weight: bold;">TỔNG:</p>
                <p style="margin-right: 20px; font-weight: bold;">{{ total_price }} <sup>đ</sup></p>
            </div>
            <div>
                <h4 style="text-transform: uppercase; letter-spacing: 1px; padding-bottom: 35px;">Phương thức thanh toán
                    được chấp nhận</h4>
                <img src="../static/img/icon-adidas-mastercard.svg" alt="">
                <img src="../static/img/icon-adidas-visa.svg" alt="">
            </div>
        </div>
    </div>
    <footer>
        <div class="members">
            <div class="over">
                <h1>TRỞ THÀNH HỘI VIÊN & HƯỞNG ƯU ĐÃI 15%</h1>
                <div class="button">
                    <a href="/login">
                        <div class="_main_button">
                            <p>ĐĂNG KÝ MIỄN PHÍ <i class="fa-solid fa-arrow-right"></i></p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="opinion">
            <div class="wrap">
                <h1 style="font-size: 20px;">Ý KIẾN CỦA BẠN</h1>
                <p>
                    Chúng tôi cố gắng phục vụ bạn tốt hơn và đánh giá cao phản hồi của bạn
                </p>
            </div>
        </div>
        <div class="FAQ">
            <div class="wrap">
                <ul class="FAQ_UL">
                    <li><a href="">Công cụ của cửa hàng</a></li>
                    <li><a href="">FAQ</a></li>
                    <li><a href="">Cơ hội nghề nghiệp</a></li>
                    <li><a href="">Trình theo dõi đơn hàng</a></li>
                    <li><a href="">Trợ Giúp Dịch Vụ Khách Hàng</a></li>
                    <li><a href="">Sơ đồ trang web</a></li>
                    <li><a href="">Giao hàng</a></li>
                </ul>
            </div>
        </div>
        <div class="info">
            <div class="over">
                <div class="properties">
                    <h1>SẢN PHẨM</h1>
                    <a href="" class="a_hover">Giày</a>
                    <a href="" class="a_hover">Quần áo</a>
                    <a href="" class="a_hover">Phụ kiện</a>
                    <a href="" class="a_hover">Hàng Mới Về</a>
                    <a href="" class="a_hover">Release Dates</a>
                    <a href="" class="a_hover">Member exclusives</a>
                    <a href="" class="a_hover">Outlet</a>
                </div>
                <div class="properties">
                    <h1>THỂ THAO</h1>
                    <a href="" class="a_hover">Chạy</a>
                    <a href="" class="a_hover">Đánh Gold</a>
                    <a href="" class="a_hover">Tập luyện</a>
                    <a href="" class="a_hover">Bóng đá</a>
                    <a href="" class="a_hover">Bóng rổ</a>
                    <a href="" class="a_hover">Quần vợt</a>
                    <a href="" class="a_hover">Ngoài trời</a>
                    <a href="" class="a_hover">Bơi lội</a>
                </div>
                <div class="properties">
                    <h1>BỘ SƯU TẬP</h1>
                    <a href="" class="a_hover">IVY PARK</a>
                    <a href="" class="a_hover">Giày adidas Pharrell Williams</a>
                    <a href="" class="a_hover">Giày Ultra Boost</a>
                    <a href="" class="a_hover">Giày Pureboost</a>
                    <a href="" class="a_hover">Predator</a>
                    <a href="" class="a_hover">X</a>
                    <a href="" class="a_hover">Copa</a>
                    <a href="" class="a_hover">Continental 80</a>
                    <a href="" class="a_hover">Giày Superstar</a>
                    <a href="" class="a_hover">Giày Stan Smith</a>
                    <a href="" class="a_hover">nmd</a>
                    <a href="" class="a_hover">ZX</a>
                </div>
                <div class="properties">
                    <h1>THÔNG TIN VỀ CÔNG TY</h1>
                    <a href="" class="a_hover">Giới Thiệu Về Chúng Tôi</a>
                    <a href="" class="a_hover">Cơ Hội Nghề Nghiệp</a>
                    <a href="" class="a_hover">Tin tức</a>
                    <a href="" class="a_hover">2HM Blog</a>
                </div>
                <div class="properties">
                    <h1>HỖ TRỢ</h1>
                    <a href="" class="a_hover">Trợ Giúp Dịch Vụ Khách Hàng</a>
                    <a href="" class="a_hover">Công cụ tìm kiếm cửa hàng</a>
                    <a href="" class="a_hover">Biểu Đồ Kích Cỡ</a>
                    <a href="" class="a_hover">Thanh toán</a>
                    <a href="" class="a_hover">Giao hàng</a>
                    <a href="" class="a_hover">Trả Hàng & Hoàn Tiền</a>
                    <a href="" class="a_hover">khuyến mãi</a>
                    <a href="" class="a_hover">Sơ đồ trang web</a>
                </div>
                <div class="properties">
                    <h1>THEO DÕI CHÚNG TÔI</h1>
                    <a href="" class="a_hover"><i class="fa-brands fa-facebook"></i></a>
                    <a href="" class="a_hover"><i class="fa-brands fa-instagram"></i></a>
                    <a href="" class="a_hover"><i class="fa-brands fa-twitter"></i></a>
                    <a href="" class="a_hover"><i class="fa-brands fa-telegram"></i></a>
                    <a href="" class="a_hover"><i class="fa-brands fa-tiktok"></i></a>
                    <a href="" class="a_hover"><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>
        </div>
        <div class="policy">
            <ul>
                <li><a href="">Cài Đặt Cookie</a></li>
                <li><a href="">Chính sách Bảo mật</a></li>
                <li><a href="">Điều Khoản và Điều Kiện</a></li>
                <li><a href="">XUẤT BẢN BỞI</a></li>
                <li><a href="">© 2020 Công ty TNHH Team 15 Việt Nam</a></li>
            </ul>
        </div>
    </footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="../static/js/info.js"></script>
</body>
<script>
    var isLoggedIn = {{ current_user.is_authenticated| tojson | safe }};
</script>
<script>
    function addToCart(productId) {
        // Kiểm tra xem người dùng đã đăng nhập chưa
        if (!isLoggedIn) {
            // Nếu chưa đăng nhập, hiển thị hộp thoại xác nhận
            var logConfirm = confirm("Bạn cần đăng nhập trước khi thêm sản phẩm vào giỏ hàng. Bạn có muốn chuyển đến trang đăng nhập?");
            if (logConfirm) {
                // Nếu người dùng đồng ý, chuyển hướng đến trang đăng nhập
                window.location.href = '/login';
            } else {
                // Nếu người dùng không đồng ý, không làm gì cả
                return;
            }
        }
        // Lấy thông tin sản phẩm từ giao diện
        var productName = document.getElementById("product-name").innerText;
        var productPrice = document.getElementById("product-price").innerText;
        var productQuantity = document.getElementById("product-quantity").innerText;
        var imgElement = document.getElementById("product-img");
        var srcAttribute = imgElement.getAttribute("src");
        var productImage = srcAttribute.split('/').pop();
        var selectedColor = document.querySelector('input[name="color"]:checked').value;
        var selectedSize = document.querySelector('input[name="size"]:checked').value;
        console.log(selectedColor)
        // Tạo đối tượng chứa thông tin sản phẩm
        var productInfo = {
            productId: productId,
            productName: productName,
            productPrice: productPrice,
            productQuantity: productQuantity,
            productImage: productImage,
            selectedColor: selectedColor,
            selectedSize: selectedSize
        };

        // Nếu đã đăng nhập, gửi yêu cầu thêm sản phẩm vào giỏ hàng bằng fetch
        fetch('/add_to_cart/' + productId, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            // Có thể truyền dữ liệu JSON nếu cần
            body: JSON.stringify(productInfo)
        })
            .then(response => {
                if (response.ok) {
                    // Nếu thành công, hiển thị alert
                    alert("Sản phẩm đã được thêm vào giỏ hàng");
                    // Chuyển hướng đến trang giỏ hàng
                    window.location.href = '/cart';
                } else {
                    // Nếu có lỗi, hiển thị alert thông báo lỗi
                    alert("Sản phẩm đã tồn tại trong giỏ hàng");
                }
            })
            .catch(error => {
                // Xử lý lỗi nếu có
                console.error(error);
            });
    }
</script>
<script>
    function removeProduct(productId) {
        var confirmation = confirm("Bạn có chắc chắn muốn xóa sản phẩm này?");
        if (confirmation) {
            fetch(`/remove_product/${productId}`, {
                method: 'POST'
            })
                .then(response => {
                    if (response.ok) {
                        window.location.reload();
                    } else {
                        console.error('Lỗi khi xóa sản phẩm');
                    }
                })
                .catch(error => {
                    console.error('Lỗi khi xóa sản phẩm:', error);
                });
        }
    }
</script>
<script>
    function updateQuantity(quantity, productId) {
        fetch(`/update_quantity/${productId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ quantity: quantity })
        })
            .then(response => {
                if (response.ok) {
                    // Nếu cập nhật thành công, làm gì đó (ví dụ: cập nhật lại giao diện)
                    window.location.reload();
                    console.log('Đã cập nhật số lượng sản phẩm');
                } else {
                    // Xử lý lỗi nếu có
                    console.error('Lỗi khi cập nhật số lượng sản phẩm');
                }
            })
            .catch(error => {
                // Xử lý lỗi nếu có
                console.error('Lỗi khi cập nhật số lượng sản phẩm:', error);
            });
    }
</script>



</html>